<h1>Lista de Assuntos/Áreas</h1>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Descrição</th>
            <th><%= link_to new_admins_backoffice_subject_path, class:"btn btn-success btn-circle" do %>
                  <i class="fa fa-plus"></i>
                <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @subjects.each do |subject| %>
          <tr>
            <th scope="row"><%= subject.id %></th>
            <td><%= subject.description %></td>
            <td style="width: 100px">

                <%= link_to edit_admins_backoffice_subject_path(subject), class:"btn btn-primary" do %>
                  <i class="fa fa-edit"></i>
                <% end %>

                <%= link_to admins_backoffice_subject_path(subject), method: :delete, class:"btn btn-danger", data: {confirm: "Deseja realmente exlcuir este assunto: #{subject.description}?"} do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

  <div class="text-center">
  <%= paginate @subjects %>
  </div>
